
{% extends "layout.html" %}
{% block body %}


    <!-- ==============category starts here============== -->
    <section class="products py-5 my-5 bg-light" id="products">
        <div class="container ">
            <div class="section_title text-center mb-5">
                <h1 class="text-capitalize">Categories</h1>
            </div>
            <div class="row mb-5">
                <div class="col-md-4 col-12">
                    <div class="single_product shadow text-center p-1">
                        <div class="product_img">
                            <a href="/product"><img src="https://cpimg.tistatic.com/05549646/b/4/8470-HP-Laptop.jpg" class="img img-fluid rounded"
                                    alt=""></a>
                        </div>
                        <div class="product-caption my-3">
                            <h4><a href="/product">HP Laptop</a></h4>
                        </div>
                        <div class="mt-3">
                            <p>
                                All ranges of HP laptops for flat 10% discount
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="single_product shadow text-center p-1 mt-small-5 mb-small-5">
                        <div class="product_img">
                            <a href="/product"><img src="https://drop.ndtv.com/TECH/product_database/images/41201441652PM_635_sony_xperia_tablet_s_3g.jpeg" class="img img-fluid rounded"
                                    alt=""></a>
                            <div class="new_product">
                                <span class="badge py-2 px-3 badge-pill badge-danger">New</span>
                            </div>
                        </div>
                        <div class="product-caption my-3">
                            <h4><a href="/product">Sony Tabs</a></h4>
                        </div>
                        <div class="mt-3">
                            <p>
                                All ranges of Sony Tabs flat 10% discount
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="single_product shadow text-center p-1">
                        <div class="product_img">
                            <a href="/product"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTp9Oh7I82Iib2sQawjGrklXyA7LX9L7areoA&usqp=CAU" class="img img-fluid rounded"
                                    alt=""></a>
                            <div class="new_product">
                                <span class="badge py-2 px-3 badge-pill badge-danger">New</span>
                            </div>
                        </div>
                        <div class="product-caption my-3">
                            <h4><a href="/product">Redmi Note 8</a></h4>
                        </div>
                        <div class="mt-3">
                            <p>
                                All ranges of Redmi phones flat 10% discount
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="single_product shadow text-center p-1">
                        <div class="product_img">
                            <a href="/product"><img src="https://images-na.ssl-images-amazon.com/images/I/71yXShgxvpL._SX679_.jpg" class="img img-fluid rounded"
                                    alt=""></a>
                            <div class="new_product">
                                <span class="badge py-2 px-3 badge-pill badge-danger">New</span>
                            </div>
                        </div>
                        <div class="product-caption my-3">
                            <h4><a href="/product">Redmi 8</a></h4>
                        </div>
                        <div class="mt-3">
                            <p>
                                All ranges of Redmi phones flat 10% discount
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="single_product shadow text-center p-1 mt-small-5 mb-small-5">
                        <div class="product_img">
                            <a href="/product"><img src="https://timesofindia.indiatimes.com/thumb/msid-76260573,imgsize-81888,width-400,resizemode-4/76260573.jpg" class="img img-fluid rounded"
                                    alt=""></a>
                            <div class="new_product">
                                <span class="badge py-2 px-3 badge-pill badge-danger">New</span>
                            </div>
                        </div>
                        <div class="product-caption my-3">
                            <h4><a href="/product">Samsung Galaxy</a></h4>
                        </div>
                        <div class="mt-3">
                            <p>
                              New model galaxy phones and tablets 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="single_product shadow text-center p-1">
                        <div class="product_img">
                            <a href="/product"><img src="https://cdn.vox-cdn.com/thumbor/NwC_SK7HacrgI9rLJiKKo-R4S5g=/400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/19834492/awhite_200319_3944_6.0.jpg" class="img img-fluid rounded"
                                    alt=""></a>
                        </div>
                        <div class="product-caption my-3">
                            <h4><a href="/product">Macbook Air</a></h4>
                        </div>
                        <div class="mt-3">
                            <p>
                                New version of Macbook Air 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ==============category ends here============== -->

  
{% endblock %}