

{% extends "layout.html" %}
{% block body %}



    <!-- ==============Checkout starts here============== -->
    <section class="Checkout py-5 my-5" id="Checkout">
        <div class="container ">
            <div class="section_title text-center mb-5">
                <h1 class="text-capitalize">Checkout</h1>
                <h3>Make sure to fill the below links</h3>
                <button><a href="/register">Registration form.Click here to register</a></button>
                <button><a href="/specification">Product specification!Click here</a></button>
            </div>
            <div class="row">
                <div class="col-md-8 col-10 mx-auto mb-3 my-5 py-5 border shadow">
                    <h3 class="text-center mb-3">Details</h3>
                    <form action="/checkout" method="POST" id="form" onsubmit="return formValidation();">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" id="name" type="text" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input name="phone" id="phone" type="phone" placeholder="Phone Number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <textarea name="email" id="email" class="form-control" placeholder="Email" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <textarea name="country" id="country" class="form-control" placeholder="eg:India" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea name="address" id="address" class="form-control" placeholder="bella compound 4th cross"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Postcode</label>
                            <textarea name="postcode" id="postcode" class="form-control" placeholder="eg:575757"></textarea>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <textarea name="city" id="city" class="form-control" placeholder="eg:Mangalore"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Purchase</button>
                    </form>
                    <a href="/payment">Click here for online payment</a>
                </div>
            </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 bg_checkout_1 h-25 rounded">
                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4">
                            <h5 class="mb-3">Order summary</h5>
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-2">
                                    <span>Samsung Laptop</span>
                                    <span>x1</span>
                                    <span>₹48000</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-2">
                                    <span>Samsung Phone</span>
                                    <span>x1</span>
                                    <span>₹15000</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-top px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>₹63000</strong></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
                <!--Grid column-->
            </div>
        </div>
    </section>

    <!-- ==============Checkout ends here============== -->

  
{% endblock %}
