{% extends "layout.html" %}
{% block body %}


    <div class="row">
                <div class="col-md-8 col-10 mx-auto mb-3 my-5 py-5 border shadow">
                    <h3 class="text-center mb-3">Payment</h3>
                    <form action="payment" method="POST" id="form" onsubmit="return formValidation();">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" id="name" type="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Card number</label>
                            <input name="card" id="card" type="number" placeholder="Card-number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>CVV</label>
                            <input name="cvv" id="cvv" type="number" placeholder="CVV" class="form-control">
                        <button type="submit" class="btn btn-primary btn-block">Pay</button>
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
   
  {% endblock %}
